<div ng-controller="BrowseCtrl">
	<div class="height-80vh boxed col-md-6">
			<%= form_tag(search_index_path, :method => "get") do %>
				<%= text_field_tag :search, params[:search], placeholder: "Search", class: "font-24 width-100p" %>
			<% end %>
		<div class="scroll-table" style="height:72vh;">
			<% @schools.sort_by {|h| h[:name]}.each do |school| %>
				<%= link_to school.name, search_path(school, :search => params[:search]), class: "font-24 width-100p btn btn-default", style: "text-align:left;" %>
			<% end %>
		</div>
	</div>
	
	<div class="height-80vh boxed col-md-6 scroll-table">
		<% if !current_page?(:controller => "search") %>
			<%= render partial: "show" %>
		<% end %>
	</div>
</div>