<div ng-controller="HomeCtrl">
	Welcome to Skoolr!<br/>
	</br>
	<div style="width: 700px; max-width: 100%;">
    Established in 2015, Skoolr is a website that provides various types of information on secondary schools in the Vancouver district (SD39). This idea was inspired by our own parents trying to determine which high school would be the best for us. Being informed about various schools is necessary for success and would be a huge factor for moving to new places especially with the increase in housing prices. We have provided a simple web application that allows you to search by school or address, and give information about the location, grades, and satisfaction survey results for each school. For convenience, visitors can create an account or sign in using Facebook. These users will have the ability to rate schools and save schools to their own ‘favourite’ page. If you have any questions or want to keep updated with the company, feel free to comment or tweet at us.<br/>
	</div>
	<br>
Thank You for visiting our website!<br/>

<br>
Sincerely,<br/>
Skoolr Development Team
 <br/>
	<div id="googleMap"></div>
</div>