<!--<div ng-controller="LoginCtrl">-->

<!--</div>-->
<div class = "button-row">
  <%= button_to "User login", new_user_session_path, class: "btn btn-primary"%>
  <%= button_to "Admin login", new_admin_session_path, class: "btn btn-primary" %>
</div>