<h1>Favorites</h1>
<table>
  <% @favorites.each do |school| %>
    <tr><td><%= link_to school.name, browse_path(school.id) %></td></tr>
  <% end %>
</table>

<%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>